@charset "UTF-8";

* {margin: 0px;
   padding: 0px;
}

@font-face {
    font-family: PassionRegular;
    src: url(C:\Users\jadso\Documents\html-css\html-css\desafios\Desafio 012Com Guanabara\Fonts\Passion_One format(truetype);
}

@font-face {
    font-family: Sriracha;
    src: url(\Fonts\Sriracha);
}


:root {
       --fonte2: 'Passion One', 'sans-serif';
       --fonte3: 'Sriracha', 'cursive';
}



html, body {background-color: darkgray;
            min-height: 100vh;
            font-family: var(--fonte1);
            
}

header {background-color: black;
        color: white;
        text-align: center;
}

header h1 {padding-top: 50px;
           font-variant: small-caps;
           font-family: var(--fonte2);
           font-size: 7vw;
}

header p {padding-bottom: 50px;}

header a, footer a {color: white;
   text-decoration: none;
   font-weight: bolder;
}

header a:hover, footer a:hover {text-decoration: underline;
}

section {padding-top: 10vh;
         padding-bottom: 10vh;
         line-height: 2em;
         padding-left: 30px;
         font-family: var(--fonte3);
         font-size: 3.5vw;
         
}

section.normal {background-color: white;
                color: black;
}

section.imagem {background-color: rgb(51, 51, 51);
                color: white;
}

section.imagem > p {background-color: rgba(0, 0, 0, 0.233);
                    display: inline-block;
}

footer {background-color: black;
        text-align: center;
        color: white;
        padding: 10px;
}